@model Project_v1_4.Models.UserModel
@using (Html.BeginForm("ContactList", "Home", FormMethod.Post))
{
    @*<head>
            <meta charset='utf-8' />
            <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
            <link href="~/Content/bootstrap.css" rel="stylesheet" />
            <script src="~/Scripts/jquery-3.3.1.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
            <script src="~/Scripts/fullcalendar.min.js"></script>
            <script src="~/Scripts/calendar.js"></script>
            <script>
                $(document).ready(function () {
                    GetEventsOnPageLoad();
                });
            </script>
            <style>
                .calendar-body {
                    height: calc(100vh - 165 px);
                    width: 90%;
                    padding-left: 130px;
                }

                .calendar-header {
                    padding-left: 30px;
                }
            </style>
        </head>
            <body>
                <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center">Find My Party</h2>
                            <h4 class="text-center">Here are your upcomig parties </h4>
                            <div class="row">
                                <section class="col-md-12">
                                    <button type="button" class="glyphicon glyphicon-home"></button>
                                    <div class="calendar-body">
                                        <div id="calendar"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                <div id="MyPopup" class="modal fade modal-CreateEvent" role="dialog">
                    <div class="modal-dialog"></div>
                    <div class="modal-content">
                        <div class="model-header">
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal"></button>
                            OK
                        </div>
                    </div>
                </div>
            </body>-->*@
    <!DOCTYPE html>
    <html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link href='https://tm418.brighton.domains/Projectv1_4/main.css' rel='stylesheet' />
        <script src='https://tm418.brighton.domains/Projectv1_4/main.js'></script>
        <link href="https://tm418.brighton.domains/Projectv1_4/fullcalendar.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="https://tm418.brighton.domains/Projectv1_4/jquery-3.3.1.js"></script>
        <script src="https://tm418.brighton.domains/Projectv1_4/bootstrap.min.js"></script>
        <script src="https://tm418.brighton.domains/Projectv1_4/jquery-3.3.1.min.js"></script>
        <script src="https://tm418.brighton.domains/Projectv1_4/moment.min.js"></script>
        <script src="https://tm418.brighton.domains/Projectv1_4/fullcalendar.min.js"></script>
        <script src="https://tm418.brighton.domains/Projectv1_4/calendar.js"></script>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {

                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    buttonText: {
                        today: 'Today',
                        month: 'Month',
                        week: 'Week',
                        day: 'Day'
                    },
                    selectable: true,
                    select: function () {
                        showModal('Create an Event', 'Bind your information to navigate any page', null);
                    },
                    height: 'parent',
                    events: function (start, end, timezone, callback) {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json",
                            url: "GetEventData",
                            dataType: "JSON",
                            success: function (result) {
                                var events = [];
                                $.each(result, function (i, data) {
                                    events.push({
                                        title: data.DescriptionName,
                                        start: moment(data.StartDate).format("YYYY-MM-DD HH:mm:ss"),
                                        end: moment(data.EndDate).format("YYYY-MM-DD HH:mm:ss"),
                                        backgroundColor: '#d05985',
                                        borderColor: 'black',
                                        id: data.PrivatePartyId
                                    });
                                });
                                console.log(events);
                                callback(events);
                            }
                        })
                    },
                    nextDayThreshold: '00:00:00',
                    editable: true,
                    droppable: true,
                    nowIndicator: true,
                    eventClick: function (info) {
                        GetEventDetailByEventId(info);
                    },
                    eventDrop: function (info) {
                        console.log(info);
                        UpdateEventDetails(info.id, info.start.toISOString(), info.end.toISOString());
                    },
                    eventResize: function (info) {
                        UpdateEventDetails(info.id, info.start.toISOString(), info.end.toISOString());
                    }
                });
                calendar.render();
            });

            function showModal(title, body, isEventDetail) {
                document.getElementsByClassName("modal-title");

                if (isEventDetail == null) {
                    document.getElementsByClassName("modal-body");
                    $("#MyPopup").modal("show");
                }
                else {
                    var eventDetail = 'Event Name: ' + body[0].name + '</br>';
                    var eventInfo = 'Event Info: ' + body[0].info + '</br>';
                    var eventStart = 'Event Start Date' + moment(body[0].startdate).format("YYYY-MM-DD HH:mm:ss") + '</br>';
                    var eventEnd = 'Event End Date' + moment(body[0].enddate).format("YYYY-MM-DD HH:mm:ss") + '</br>';
                    $("#MyPopup .modal-body").html(eventDetail + eventInfo + eventStart + eventEnd);
                    $("#MyPopup").modal("show");
                }
            }

            function GetEventDetailByEventId(eventinfo) {
                var object = {};
                object.EventId = eventinfo.id;
                $.ajax({
                    type: "POST",
                    url: "Home/GetEventDetailByEventId",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(object),
                    success: function (eventdetails) {
                        showModal('Event Details', eventdetails, true);
                    }
                });
            }

            function UpdateEventDetails(eventId, startDate, endDate) {
                var object = {};
                object.EventId = eventId;
                object.startDate = startDate;
                object.EndDate = endDate;
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "Home/UpdateEventDetails",
                    dataType: "JSON",
                    data: JSON.stringify(object)
                });
            }
            function loadCreatePrivatePartyPage() {
                var userEmail = document.getElementById('UserName').value;
                $.ajax({
                    type: "GET",
                    traditional: true,
                    url: 'CreatePrivateParty',
                    data: {
                        "email": userEmail,
                    },
                    success: function () {
                      
                        window.location.href = '/Home/CreatePrivateParty'
                    },
                    error: function (xhr) {

                    }
                });
            }
        </script>
    </head>
    @Html.HiddenFor(model => model.UserName)
    <body>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Organize My Party</h2>
                <h4 class="text-center">Here are your upcomig parties </h4>
                <div class="col-md-4 text-left">
                    <button type="submit" class="glyphicon glyphicon-book"></button>
                    <label>Contacts</label>
                </div>
                <div class="col-md-4 text-center">
                    <button type="button" class="glyphicon glyphicon-gift" onclick="loadCreatePrivatePartyPage()"></button>
                    <label>Create Private Party</label>
                </div>
                <div class="col-md-4 text-right">
                    <button type="button" class="glyphicon glyphicon-glass" onclick="loadCreatePublicPartyPage()"></button>
                    <label>Create Public Party</label>
                </div>
                <div class="row">
                    <section class="col-md-12">
                        <div class="calendar-body">
                            <div id="calendar"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div id="MyPopup" class="modal fade modal-CreateEvent" role="dialog">
            <div class="modal-dialog"></div>
            <div class="modal-content">
                <div class="model-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal"></button>
                    OK
                </div>
            </div>
        </div>
    </body>
</html>
}